@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{}

img{width: 100%;}

header{
    background: #F0FFF0;
}

.container{
    width: 1200px;
    margin: auto;
}

.d-flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items:center;
}

.header_section{
    padding:30px 0px;
}

.header_section img{
    width: 150px;
}

.menu{
  list-style: none;  
}

.menu li{
   padding:8px 25px;
}

.menu li a{
    color:  #000000;
    text-decoration: none;
}

.signIn_btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    box-sizing: border-box;
    width: 100px;
    height: 33px;
    background: #21B573;
    color: #FFFFFF !important;
    border:none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
}

.signIn_btn a{
    color: #FFFFFF !important;
}

.banner_section{
    width: 100%;
    background: #F0FFF0;
    padding-bottom: 50px;
}

.banner_section .left_content,.right_content{
    width: 50%;
}


.banner_section .left_content .learn{
    color:red;
    font-size:16px;
    padding: 10px 0px;
}

.banner_section .left_content h1{
    width: 420px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
    padding-top: 10px;
    padding-bottom: 19px;
}

.banner_section .left_content h1 span{
    color:#21B573;
}

.banner_section .left_content p{
    width:328px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    padding-top: 19px;
    padding-bottom:14px;
}


.btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    box-sizing: border-box;
    padding: 12px 0px;
    gap: 10px;

    position: absolute;
    width: 153px;
    height: 43px;
    background: #21B573;
    color: #FFFFFF;
    border:none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
}


.history_section{
    padding-top:50px;
    padding-bottom:50px;
}


.content{
    width: 270px;
    height: 270px;
    background: #F8FFFB;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.content:hover{
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.content img{
    width: 60px;
    height: 85px;
}

.content h3{
    padding-top:20px;
}


.course_section .container h2{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    margin-top:20px;
    margin-bottom:60px;
}

.course_content{
    width: 370px;
    height: 450px;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    margin-bottom:80px;
}


.course_content img{
    width: 331px;
    height: 234px;
    border-radius: 11px;
    padding-top: 24px;
}


.text_body{
    padding-left: 23px;
    padding-right: 23px;
}

.course_content h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    padding-top: 19px;
    padding-bottom:3px;
}

.course_content .designation{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #585859;
}

.course_content .course_btn{
    padding: 8px 28px;
    width: 137px;
    height: 35px;
    background: #21B573;
    border-radius: 33px;
    border:none;
    color: #fff;
    margin-top:19px;
    margin-bottom:34px;
}

.date_seat{
    width: 100%;
    display: flex;
    justify-content:space-between;

}

.date_seat i{
    padding-right:10px;
    color: #585859;
}

.testimonial_section{
    margin-bottom: 127px;
}

.testimonial_section h2{
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    margin-bottom:76px;
}

.testimonial_section .container img{
    width: 120px;
    height: 120px;
}

.testimonial_section .container p{
    width: 620px;
    height: 90px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    padding-left: 50px;
}


.footer_section{
    background: #282531;
    padding-top: 55px;
}

.col-6{
    width: 366px;
    height: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
}


.col-2{
    color: #FFFFFF;
}

.col-2 ul{
    list-style: none;
}

.col-2 ul li{
    padding:5px 0px;
}

.col-2 ul li a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 14px;
}

.copyright{
    text-align: center;
    padding-top: 76px;
    padding-bottom:27px;
    color:#fff;
}




